<mat-toolbar class="navbar-container">
  <div class="right-content">
    <img src="../assets/fox-news-logo.png" alt="Fox news logo" class="fox-news-logo">
    <span class="fox-news-name">Fox News</span>
  </div>
  <div class="center-content">
    <span>News</span>
    <span>Opinion</span>
    <span>Technology</span>
    <span>Our Planet</span>
    <span>Health and Science</span>
  </div>
  <div class="left-content">
    <button class="singup-button">Sign up for our newsletter</button>
  </div>
</mat-toolbar>
