.container {
  margin: 48px 40px 0 40px;
  height: 598px;
  display: flex;
  justify-content: space-between;

  .left-side {
    width: 903px;
  }

  .right-side {
    width: 409px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
