<main class="container">
  <div class="left-side">
    <div class="text-content">
      <div class="title-and-description">
        <span class="title">Russia&rsquo;s Youngest-ever Astronauts Blast Off to Space Station</span>
        <span class="description">On Thursday, three Russian astronauts lifted off on the Moscow-17 spacecraft from the
          Sputnik 1 Satellite Launch Center deep in the Gobi Desert, heading for the Mir space station for a six-month
          stay.</span>
      </div>
      <div class="category-creator-date">
        <span class="category">Space and Universe</span>
        <mat-divider [vertical]="true" style="background-color: #fff; height: 12px;"></mat-divider>
        <span class="creator">Daniel Albarta</span>
        <mat-divider [vertical]="true" style="background-color: #fff; height: 12px;"></mat-divider>
        <span class="date">October 22, 2023</span>
      </div>
    </div>
    <div class="image-content">
      <img src="../../../assets/unsplash_amF7lbfzLj0.png" alt="" class="big-image">
    </div>
  </div>
  <div class="right-side">
    <div class="small-content">
      <div class="small-image-content">
        <img src="../../../assets/Image.png" alt="" class="small-image">
      </div>
      <div class="small-text-content">
        <div class="creator-date">
          <span class="creator">Daniel Albarta</span>
          <mat-divider [vertical]="true" style="background-color: #fff; height: 12px; margin: 0 16px"></mat-divider>
          <span class="data">October 22, 2023</span>
        </div>
        <span class="title">
          &lsquo;Washy Clouds and a Weepy Sky Floating Upside Down...
        </span>
        <div class="category-est_read_time">
          <span class="category">Our Planet</span>
          <mat-divider [vertical]="true" style="background-color: #fff; height: 12px; margin: 0 16px"></mat-divider>
          <span class="est-read-time">8 mins read</span>
        </div>
      </div>
    </div>
    <div class="small-content">
      <div class="small-image-content">
        <img src="../../../assets/Image (3).png" alt="" class="small-image">
      </div>
      <div class="small-text-content">
        <div class="creator-date">
          <span class="creator">Donn Robinson</span>
          <mat-divider [vertical]="true" style="background-color: #fff; height: 12px; margin: 0 16px"></mat-divider>
          <span class="data">October 21, 2023</span>
        </div>
        <span class="title">
          Rocket Lab Expects to Resume Electron Launche...
        </span>
        <div class="category-est_read_time">
          <span class="category">Space and Universe</span>
          <mat-divider [vertical]="true" style="background-color: #fff; height: 12px; margin: 0 16px"></mat-divider>
          <span class="est-read-time">4 mins read</span>
        </div>
      </div>
    </div>
    <div class="small-content">
      <div class="small-image-content">
        <img src="../../../assets/Image (2).png" alt="" class="small-image">
      </div>
      <div class="small-text-content">
        <div class="creator-date">
          <span class="creator">Natalia Freigman</span>
          <mat-divider [vertical]="true" style="background-color: #fff; height: 12px; margin: 0 16px"></mat-divider>
          <span class="data">October 21, 2023</span>
        </div>
        <span class="title">
          Curiosity Rover Discovers New Evidence Mars Once...
        </span>
        <div class="category-est_read_time">
          <span class="category">Space and Universe</span>
          <mat-divider [vertical]="true" style="background-color: #fff; height: 12px; margin: 0 16px"></mat-divider>
          <span class="est-read-time">7 mins read</span>
        </div>
      </div>
    </div>
    <div class="small-content">
      <div class="small-image-content">
        <img src="../../../assets/Image (1).png" alt="" class="small-image">
      </div>
      <div class="small-text-content">
        <div class="creator-date">
          <span class="creator">Antonio Roberto</span>
          <mat-divider [vertical]="true" style="background-color: #fff; height: 12px; margin: 0 16px"></mat-divider>
          <span class="data">October 19, 2023</span>
        </div>
        <span class="title">
          Satellite Data Reveals Ancient Landscape Preser...
        </span>
        <div class="category-est_read_time">
          <span class="category">Space and Universe</span>
          <mat-divider [vertical]="true" style="background-color: #fff; height: 12px; margin: 0 16px"></mat-divider>
          <span class="est-read-time">8 mins read</span>
        </div>
      </div>
    </div>
  </div>
</main>
